.main{
  border: 3px solid gray;
  background-color: #EFF6FE;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.main > .slide-show{
  border: 3px solid black;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.main > .slide-show > div{
  background-color: gray;
  color: #FFFF;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 70px;
}

.main > .slide-show > #left{
  margin-right: 50px;
}

.main > .slide-show > #right{
  margin-left: 50px;
}

.main > .container{
  border: 3px solid aqua;
  margin-top: 50px;
}

.main > .container > .intro{
  border: 3px solid tomato;
}

.main > .container> .contents{
  border: 3px solid greenyellow;
}

.main > .container> .contents> .contract-review-intro{
  border: 3px solid plum;
}

.main > .container> .contents> .work-arrangement-intro{
  border: 3px solid purple;
}

.main > .container> .contents> .question-and-answer-intro{
  border: 3px solid red;
}