.main {
  border: 3px solid gray;
  background-color: #EFF6FE;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  font-family: 'Pretendard';
}

#short-cut {
  cursor: pointer;
}

// @extend로 나눌 수도 있음.
#number {
  background-color: #1BBFC1;
  color: #F1F1F5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 30px;
  font-weight: 600;
  line-height: 34px;
  margin-bottom: 20px;
}

.main {
  .slide-show {
    border: 3px solid black;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    div {
      background-color: gray;
      color: #FFFF;
      display: flex;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 70px;
    }

    #left {
      margin-right: 50px;
    }

    #right {
      margin-left: 50px;
    }
  }

  .container {
    width: 1180px;
    border: 3px solid aqua;
    margin-top: 50px;

    .intro {
      border: 3px solid tomato;
      display: flex;
      flex-direction: column;
      font-size: 72px;
      font-weight: 600;
      line-height: 90px;
      margin-bottom: 40px;
    }

    .contents {
      border: 3px solid greenyellow;

      .contract-review-intro {
        border: 3px solid plum;
      }

      .work-arrangement-intro {
        border: 3px solid purple;
      }

      .question-and-answer-intro {
        border: 3px solid red;
      }
    }
  }
}