.MyPage-ViewResult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: Pretendard;

  .MyPage-ViewResult-container {
    width: 1180px;
    margin-top: 90px;
    margin-bottom: 120px;

    // height: 608px;
    .MyPage-ViewResult-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 70px;

      #MyPage-ViewResult-title {
        font-size: 48px;
        font-weight: 600;
        line-height: 68px;
        letter-spacing: -0.025em;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }

      #MyPage-ViewResult-button {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 129px;
        height: 48px;
        padding: 12px 16px;
        cursor: pointer;
        // gap: 10px;

        span {
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          margin-right: 4px;
        }
      }
    }

    .MyPage-ViewResult-content {
      display: flex;
      justify-content: center;
      background-color: white;
      padding: 60px 100px;
      width: 100%;


      .qav-group {
        width: 100%;
        // width: calc(100% - 200px);
        display: flex;
        flex-direction: column;
        justify-content: center;

        .qav-work-arrangement {
          // background-color: aqua;
          // width: calc(100% - 70px - 32px - 38px);
          display: flex;
          flex-direction: column;
          justify-content: center;
          // padding: 36px 30px;
          align-items: center;
          // gap: 10px;
          // box-shadow: 0px 4px 10px -1px #23303814;
          margin-top: 32px;
          // padding: 36px 70px;

          .vmwr-container {
            width: 100%;
          }
        }
      }
    }

    .MyPage-ViewResult-button-content {
      display: flex;
      justify-content: flex-end;
      margin-top: 60px;

      .MyPage-ViewResult-button-group {
        width: 320px;
        display: flex;
        justify-content: space-between;


        #MyPage-ViewResult-share,
        #MyPage-ViewResult-list {
          background-color: #1BBFC1;
          color: white;
          font-size: 20px;
          font-weight: 600;
          line-height: 28px;
          letter-spacing: -0.025em;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          padding: 16px;
          cursor: pointer;
        }

        // #MyPage-ViewResult-share {}

        // #MyPage-ViewResult-list {}
      }
    }
  }
}