.modal-login {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 2000;
  width: 334px;
  padding: 40px;
  font-family: 'Pretendard';

  #modal-check {
    margin-bottom: 16px;
  }

  #modal-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "Pretendard";
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: -0.025em;
    margin-bottom: 8px;
  }

  #modal-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #767676;
    font-family: "Pretendard";
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.025em;
    margin-bottom: 24px;
  }

  .button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    #link-underline {
      text-decoration: none;
      color: inherit;
    }

    #modal-login-in {
      background-color: #1BBFC1;
      color: white;
      padding: 10px 16px;
    }
  }
}