.Notice-element {
  // background-color: darkcyan;
  display: flex;
  width: calc(100% - 1px);
  padding: 22px 16px;
  border-bottom: solid 1px #F1F1F5;

  #Notice-number {
    width: 93px;
  }

  #Notice-content {
    width: calc(850px - 95px);
  }

  #Notice-date {
    width: calc(130px - 33px);
  }
}