.Notice {
  // background-color: aqua;
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Pretendard";
  margin-top: 90px;
  margin-bottom: 120px;

  .Notice-container {
    // background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 980px;

    #Notice-title {
      // background-color: tomato;
      //styleName: PC/Title/KR/T3_KR_Sb;
      font-family: Pretendard;
      font-size: 24px;
      font-weight: 600;
      line-height: 34px;
      letter-spacing: -0.025em;
      margin-bottom: 21px;
    }

    .Notice-list {
      // background-color: greenyellow;
      display: flex;
      // justify-content: space-between;
      width: calc(100% - 1px);
      border-right: solid 1px #F1F1F5;
      border-left: solid 1px #F1F1F5;
      border-top: solid 2px #111111;

      #Notice-no-data {
        display: flex;
        width: calc(100% - 1px);
        padding: 22px 16px;
        border-bottom: solid 1px #F1F1F5;
        justify-content: center;
      }
    }

    .Notice-pagination {
      // background-color: palevioletred;
      display: flex;
      justify-content: center;
      align-content: center;
      margin-top: 70px;

      .Notice-pagination-number {
        display: flex;
        flex-direction: column;
        color: #767676;
        padding: 7px 12px;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.025em;
      }

      #Notice-pagination-arrow {
        display: flex;
        justify-content: center;
        align-content: center;
      }
    }
  }
}