*{
  font-family: 'Pretendard';
}

.postingqna {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;

  .postingqna-container{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 40px;
    margin: 82px 0px 60px 0px;
    width: 1180px;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px -1px rgba(35, 48, 56, 0.08);

    .postingqna-title-container{
      margin-bottom: 33px;
      #postingqna-title {
        font-size: 22px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 12px;
        color: #111111;
      }
      .postingqna-title-input{
        width: 1100px;
        height: 48px;
        font-size: 14px;
        font-weight: 400;
        color: #111111;
        border: 1px solid #E5E5EC;
        padding: 14px 16px;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        &::placeholder {
          color: #666666;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  
    .postingqna-category-container {
      margin-bottom: 33px;
      #postingqna-title {
        font-size: 22px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 12px;
        color: #111111;
      }
      .postingqna-input-group {
        color: 000000;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        #input-styled {
          border: 1px solid #E5E5EC;
          width: 22px;
          height: 22px;
          margin-right: 8px;
          vertical-align: middle;
        }
        span {
          vertical-align: middle;
        }
        span:nth-of-type(1) {
          margin-right: 32px;
        }
      }
    }
    .postingqna-content-container {
      margin-bottom: 33px;
      #postingqna-title {
        font-size: 22px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 12px;
        color: #111111;
      }
      .postingqna-content-textarea {
        width: 1100px;
        height: 404px;
        font-size: 14px;
        font-weight: 400;
        color: #111111;
        border: 1px solid #E5E5EC;
        padding: 12px 16px;
        box-sizing: border-box;

        &::placeholder {
          color: #666666;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }

  .postingqna-myresult-container {
    #postingqna-title {
      font-size: 22px;
      font-weight: 500;
      line-height: 30px;
      margin-bottom: 12px;
      color: #111111;
    }
    .postingqna-myresult-none {
      background-color: #E1E1E1;
      border: dashed 1px #111111;
      width: 1100px;
      height: 250px;
      display: flex;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }

  .postingqna-vmwr-result {
    background-color: white;
    padding: 36px 60px;
    box-shadow: 0px 4px 10px -1px rgba(35, 48, 56, 0.08);
  }

  #postingqna-group {
    display: flex;
    justify-content: flex-end;
    width: 1180px;
    margin: 60px 0px 120px 0px;

    .postingqna-button {
      background-color: #1BBFC1;
      color: #FFFFFF;
      font-family: 'Pretendard';
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: -0.025em;
      padding: 16px;
      cursor: pointer;
    }
  }
}
