    .qav-comment {
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: Pretendard;
      font-size: 14px;
      padding: 20px;

      .qav-group {
        background-color: white;
        width: 1140px;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;

        .qav-comment-writer {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 8px;
          width: 155px;

          #qav-writer {
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;
            // margin-right: 8px;
          }

          #user-rank {
            background-color: #204598;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            padding: 4px 8.5px 4px 8.5px;
            font-size: 12px;
            font-weight: 700;
            line-height: 18px;
          }
        }

        .qav-users-group {
          display: flex;
          justify-content: space-between;
          margin-bottom: 14px;
          font-family: "Pretendard";
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;

          #qav-users-comment {
            width: 1012px;
          }

          .qav-users-button {
            width: 96px;
            display: flex;
            justify-content: space-between;
            margin-left: 32px;
            font-size: 12px;
            font-weight: 700;
            line-height: 18px;

            #qav-button-like-group {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              #qav-like-button {
                width: 40px;
                height: 40px;
                background-image: url('../image/like-btn.svg');
                background-size: cover;
                cursor: pointer;
              }

              #qav-like-button:hover {
                cursor: pointer;
                background-image: url('../image/likeClick.svg');
              }

              #qav-clicked-like {
                cursor: pointer;
                width: 40px;
                height: 40px;
                background-image: url('../image/likeClick.svg');
                background-size: cover;
                cursor: pointer;
              }

              .qav-comment-like {
                margin-bottom: 4px;
              }
            }

            #qav-button-bad-group {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              cursor: pointer;

              #qav-bad-button {
                width: 40px;
                height: 40px;
                background-image: url('../image/bad-btn.svg');
                background-size: cover;
              }

              #qav-bad-button:hover {
                cursor: pointer;
                background-image: url('../image/badClick.svg');
              }

              #qav-clicked-bad {
                cursor: pointer;
                width: 40px;
                height: 40px;
                background-image: url('../image/badClick.svg');
                background-size: cover;
                cursor: pointer;
              }

              .qav-comment-bad {
                margin-bottom: 4px;
              }
            }
          }
        }

        #qav-comment-date {
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
        }
      }
    }