.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // background-color: aqua;
  width: 100%;
  height: 100px;
  font-family: 'Pretendard';
  font-size: 20px;
  font-weight: 500;
  line-height: 23.87px;
  border-bottom: 2px solid #E1E1E1;


  .h-container {
    display: flex;
    justify-content: space-around;
    width: 1180px;

    .h-logo {
      display: flex;
      align-items: center;
    }

    .h-hyper-group {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 702px;
      height: 100px;

      .h-hyper-link {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100px;

        .h-link {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: inherit;
          height: 98px;
          padding-bottom: 2px;
          /* border-bottom 공간 확보 */
          border-bottom: 2px solid transparent;
          /* 기본 상태에서 투명한 border */
        }

        &:nth-of-type(1) {
          .h-link {
            // background-color: aqua;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            width: 80px;
            height: 98px;
            padding-bottom: 2px;
            /* border-bottom 공간 확보 */
          }
        }

        // .h-link:first-child {
        //   background-color: aqua;
        //   width: 80px;
        //   height: 100%;
        // }

        .h-link:hover {
          height: 100px;
          border-bottom: 2px solid #204598;
        }
      }


    }

    .h-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70px;
    }
  }
}