.view-my-work {
  background-color: #EFF6FE;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  font-family: 'Pretendard';

  .vmw-container {
    width: 1180px;

    #vmw-title {
      font-family: Pretendard;
      font-size: 48px;
      font-weight: 600;
      line-height: 68px;
      letter-spacing: -0.025em;
      margin: 90px 0px 60px 0px;
    }

    .vmw-group {
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 60px 51px 68px 60px;

      .vmw-question {
        display: flex;
        flex-direction: column;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;

        #description {
          color: #204598;
          font-size: 18px;
          line-height: 24px;
        }
      }

      .vmw-input-answer {
        #input-styled {
          border: 1px solid #E5E5EC;
          width: 242px;
          height: 48px;
          margin-right: 6px;
        }

        #input-styled::placeholder {
          padding: 14px 16px 14px 16px;
          font-family: 'Pretendard';
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
        }

        #check-box-styled {}

        span {
          font-family: 'Pretendard';
          font-weight: 600;
          font-size: 18px;
          line-height: 28px;
        }
      }

      .vmw-yesOrNo-answer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Inter';
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;

        #input-styled {
          border: 1px solid #E5E5EC;
          width: 22px;
          height: 22px;
          margin-right: 6px;
        }

        span:nth-of-type(2) {
          // background-color: aqua;
          margin-left: 80px;
        }
      }

      .vmw-checkbox-answer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Inter';
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;

        #input-styled {
          border: 1px solid #E5E5EC;
          width: 22px;
          height: 22px;
          margin-right: 6px;
        }

        span:nth-of-type(2),
        span:nth-of-type(3) {
          // background-color: aqua;
          margin-left: 32px;
        }
      }
    }
  }

  .vmw-result {
    background-color: #E5E5EC;
    align-content: center;
    text-align: center;
    margin: 60px 0px 120px 0px;
    width: 212px;
    height: 60px;
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.025em;
  }
}