.work-arrangement{
  background-color: #EFF6FE;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.work-arrangement .container{
  /* background-color: blueviolet; */
  width: 1180px;
}

.work-arrangement .container> h1{
  margin: 0px 0px 60px 0px;
  font-size: 48px;
}

.work-arrangement .container .quiz{
  /* background-color: bisque; */
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  margin: 0 0 140px 0;
}

.work-arrangement .container .quiz .short-cut {
  background-color: #204598;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 280px;
  height: 308px;
  margin-left: 20px;
}

.work-arrangement .container .contents{
  /* background-color: brown; */
}

.work-arrangement .container .contents> #short-cut{
  background-color: #1BBFC1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 73px;
  height: 56px;
  margin-left: 93.81%;
}

.work-arrangement .container .contents .result{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  box-shadow: 0px 4px 10px -1px rgba(35, 48, 56, 0.08);
}

.work-arrangement .container .contents .result .control{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 40px 0px 40px;
}

.work-arrangement .container .contents .result .control #short-cut{
  display: flex;
  flex-direction: row;
  width: 125px;
  height: 33px;
}

.work-arrangement .container .contents .result .control #short-cut a{
  text-decoration-line: none;
  color: #111;
  font-size: 23.041px;
}

.work-arrangement .container .contents .result .control h3 {
  margin: 0;
  font-size: 32px;
}

.work-arrangement .container .contents .result .group{
  display: flex;
  flex-direction: row;
}

.work-arrangement .container .contents .result .group .description{
  /* background-color: yellowgreen; */
  margin: 0px 111px 46px 40px;
}

.work-arrangement .container .contents .result .group .options{
  /* background-color: tomato; */
  /* border: 1px solid black; */
  margin-left: 111px;
}

.work-arrangement .container .contents .result .group .options div{
  font-size: 18px;
  margin-bottom: 12px;
}

.work-arrangement .container .contents .result .group .options #option{
  background-color: #204598;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 95px;
  height: 45px;
}