.Modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* 해당 컴포넌트가 전체 화면을 덮도록 설정 */
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.15);

  .modal-overlay {
    display: flex;
    /* 레이아웃을 위해 플렉스 박스로 설정 */
    justify-content: center;
    align-items: center;
    position: absolute;
    /* 부모의 위치를 기준으로 중앙 배치 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    backdrop-filter: blur(10px);
    /* 배경을 흐릿하게 */

    .modal-default {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;
      z-index: 2000;
      width: 288px;
      //8+200+80
      // height: 320px;
      padding: 60px;
      font-family: 'Pretendard';

      #modal-title {
        display: flex;
        width: 100%;
        margin-bottom: 12px;
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: -0.025em;
        text-align: left;
      }

      .modal-content {
        // 왜 여기에 w/h값을 100%를 줘야 동작하는지 이해가 안간다. 만약, 100%를 준다면 최상위 100%를 참고해야하는 것 아닌가?
        width: 100%;
        // height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;

        input {
          padding: 14px 0px 14px 0px;
          border: none;
          border-bottom: 1px solid #E5E5EC;
        }

        #modal-input-sub {
          font-weight: 600px;
          font-size: 18px;
          line-height: 28px;
          letter-spacing: -2.5%;
        }
      }

      #modal-save {
        background-color: #1BBFC1;
        color: white;
        padding: 10px 16px;
      }
    }
  }
}