.modal-default {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 2000;
  width: 288px;
  //8+200+80
  // height: 320px;
  padding: 60px;
  font-family: 'Pretendard';

  #modal-title {
    display: flex;
    width: 100%;
    margin-bottom: 12px;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.025em;
    text-align: left;
  }

  .modal-content {
    // 왜 여기에 w/h값을 100%를 줘야 동작하는지 이해가 안간다. 만약, 100%를 준다면 최상위 100%를 참고해야하는 것 아닌가?
    width: 100%;
    // height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;

    input {
      padding: 14px 0px 14px 0px;
      border: none;
      border-bottom: 1px solid #E5E5EC;
    }

    #modal-input-sub {
      font-weight: 600px;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -2.5%;
    }
  }

  #modal-save {
    background-color: #1BBFC1;
    color: white;
    padding: 10px 16px;
  }
}