:root{
  --font-color : #767676;
  --symbol-background-color : #EFF6FE;
  --notation-background-color : #FFFFFF;
  --notation-border-color : #E5E5EC;
  --notation-button-color : #204598;
}

.contract-review{
  /* background-color: yellow; */
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  width: 100%;
  min-height: 100vh; /* 변경된 속성 */
}

.contract-review>.container{
  /* background-color: greenyellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1180px;
  height: 100%;
}
.contract-review>.container>.intro{
  /* background-color: wheat; */
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 120px;
}

.intro>h1{
  /* background-color: aqua; */
  margin: 0px 180px 0px 0px;
}

.contract-review>.container>.contents{
  /* background-color: #204598; */
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: row;
}

.contract-review>.container>.contents>.list{
  /* background-color: tomato; */
  margin-right: 40px;
  width: 241px;
  height: 698px;
  border: 1px solid black;
}

.contract-review>.container>.contents>.list>div{
  margin-left: 21px;
  width: 200px;
}

.contract-review>.container>.contents>.list>h2{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px 80px 17px 79px;
}

.contract-review>.container>.contents>.list>div>div{
  margin: 13px 9px 13px 9px;
}

.contract-review>.container>.contents>.standard-contract{
  /* background-color: blueviolet; */
  width: 900px;
  border: 1px solid black;
}

#notice{
  color: #204598;
}
.contract-review>.container>.contents>.standard-contract>h2{
  display: flex;
  justify-content: center;
  margin: 40px 0px 50px 0px;
}
.contract-review>.container>.contents>.standard-contract>div{
  margin: 0px 50px 40px 50px;
}

.contract-review>.container>.contents>.standard-contract>div>.info{
  /* background-color: aqua; */
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-end;
}

/* 
.contract-review>.standard-contract>div>div{
  border: 1px solid black;
}

.contract-review>.standard-contract>div>div>div{
  border: 1px solid black;
} */